<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge 20</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>BREAD(Browse, Read, Edit, Delete)</h1>
    <br />
    <form class="form-group" action="" method="get">
      <input type="hidden" name="page" value="1">
      <h2>Filters</h2>
      <div>
        <label for="id">ID</label>
        <input type="checkbox" id="id" name="id1" value="id" <% if (query.id) { %>checked<% } %>
        <% if (!query.id) { %><% } %> />
        <input type="number" name="id" value="<%= query.id%>" />
      </div>
      <br />
      <div>
        <label for="string">String</label>
        <input type="checkbox" id="string" name="string1" value="string" <% if (query.string) { %>checked<% } %>
        <% if (!query.string) { %><% } %> />
        <input type="text" name="string" value="<%= query.string%>" />
      </div>
      <br />
      <div>
        <label for="integer">Integer</label>
        <input type="checkbox" id="integer" name="integer1" value="integer" <% if (query.integer) { %>checked<% } %>
        <% if (!query.integer) { %><% } %> />
        <input type="number" name="integer" value="<%= query.integer%>" />
      </div>
      <br />
      <div>
        <label for="float">Float</label>
        <input type="checkbox" id="float" name="float1" value="float" <% if (query.float) { %>checked<% } %>
        <% if (!query.float) { %><% } %> />
        <input type="number" name="float" value="<%= query.float%>" />
      </div>
      <br />
      <div>
        <label for="date">Date</label>
        <input type="checkbox" id="date" name="date1" value="date"<% if (query.dateS) { %>checked<% } %>
        <% if (!query.dateS) { %><% } %> />
        <input type="date" name="dateS" value="<%= query.dateS%>" placeholder="start" />
        <p>to</p>
        <input type="date" name="dateE" value="<%= query.dateE%>" placeholder="end" />
      </div>
      <br />
      <div>
        <label for="boolean">Boolean</label>
        <input
          type="checkbox"
          id="boolean"
          name="boolean1"
          value="true"
          <% if (query.boolean) { %>checked<% } %>
          <% if (!query.boolean) { %><% } %>
        />
        <select id="boolean" name="boolean">
          <option value="" <% if (!query.boolean) { %>selected<% } %>>-- Select --</option>
          <option value="true" <% if (query.boolean === 'true') { %>selected<% } %>>True</option>
          <option value="false" <% if (query.boolean === 'false') { %>selected<% } %>>False</option>
        </select>
      </div>
      <br />
      <div>
        <input type="submit" />
      </div>
      <br />
      <div>
        <a href="/"><button class="reset" type="button">Reset</button></a>
      </div>
    </form>
    <br />
    <table class="content-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>String</th>
          <th>Integer</th>
          <th>Float</th>
          <th>Date</th>
          <th>Boolean</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((item, index) => { %>
        <tr>
          <td><%= offset + index + 1 %></td>
          <td><%= item.string %></td>
          <td><%= item.integer %></td>
          <td><%= item.float %></td>
          <td><%= item.date %></td>
          <td><%= item.boolean %></td>
          <td>
            <a href="/edit/<%= item.id %>"
              ><button class="edit" type="button">Edit</button></a
            >
            <span></span
            ><a href="/delete/<%= item.id %>"
              ><button class="delete" type="button">Delete</button></a
            >
          </td>
        </tr>
        <%})%>
      </tbody>
    </table>
    <br />
    <div class="pagination">
      <% if (page > 1) { %>
        <a class="pagination__link" href="<%= url.replace(`page=${page}`, `page=${page-1}`) %>">Previous</a>
        <% } %>
        <% for( let i = 1; i <= pages; i++ ) { %>
          <a class="pagination__link pagination__link--active" href="<%= url.replace(`page=${page}`, `page=${i}`) %>" class="<%= page == i ? 'active' : '' %>" ><%=i %></a>
        <% } %>
        <% if (page < pages) { %>
          <a class="pagination__link" href="<%= url.replace(`page=${parseInt(page)}`, `page=${parseInt(page)+1}`) %>">Next</a>
        <% } %>
    </div>

    <span></span>
    <a href="/add"><button class="add" type="button">Add</button></a>
  </body>
</html>
